{
    "env": {
        "development": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": "last 2 versions, ie 11, safari 5",
                    "modules": false
                }], "@babel/preset-react"
            ]
        },
        "production": {
            "presets": ["minify", "@babel/preset-env", "@babel/preset-react"]
        }
    }
}