{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        ["babel-plugin-transform-builtin-extend", {
            "globals": ["Error", "Array"]
        }, "transform-class-properties"]
    ]
}