$bright-text-color: unquote('#ffffffaa');
$gallery-itm-bg-color: #121212;
$gallery-bg-color: #010f27;
$gallery-height: 66%;

.hero-gallery {
	color: $bright-text-color;
	height: $gallery-height;
	display: flex;
	position: relative;

	.bg-container {
		flex: 1;
		background-color: $gallery-bg-color;
	}

	.hero-front-outer:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	.hero-front-outer {
		position: absolute;
		//max-width: 760px;
		//display: flex;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		//margin-left: auto;
		//margin-right: auto;

		.hero-front-inner {
			//margin: $gallery-height*0.16;

			//flex-direction: column;
			//display: flex;
			//flex: 1;

			.fg-container {
				//flex: 4;
				border: solid 1px;
				border-radius: 20px;
				background-color: $gallery-itm-bg-color;
			}

			.btns {
				//flex: 1;
				display: flex;
				flex-direction: row;

				.prev {
					flex: 1;

					.start {}

					.mid {}

					.end {}
				}

				.nxt {
					flex: 1;

					.start {}

					.mid {}

					.end {}
				}
			}
		}
	}

	.hero-text {
		left: 0;
		right: 0;
		position: absolute;
		bottom: 1em;
		text-align: center;
	}

}

[style*="--aspect-ratio"]> :first-child {
	width: 100%;
}

[style*="--aspect-ratio"]>img {
	height: auto;
}

@supports (--custom:property) {
	[style*="--aspect-ratio"] {
		position: relative;
	}

	[style*="--aspect-ratio"]::before {
		content: "";
		display: block;
		padding-bottom: calc(100% / (var(--aspect-ratio)));
	}

	[style*="--aspect-ratio"]> :first-child {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
}