@import "~metaexplorer-react-components/lib/components/hero/hero.css";

.app-content {
	background-color: #fff;
}

.mdscrollbar.landing-struct-data {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	align-items: center;
}

.mxp-hero {
	position: relative;
	padding: 0;
    min-height: 80vh;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
	
}

.enter-mxp {
	background-color: #001e34;
	background-image: url("/media/768sq-craftsmanship-hands.jpg");
	>* h2, h3 {
		color: white;
		filter: drop-shadow(2px 3px 4px #001e34);
	}
}

.mxp-hero.bottom-img {	
	background-image: url("/media/960sq-people-devices-interfaces.jpg");
	background-color: #001e34;
	color: white;
	>* h2, h3 {
		filter: drop-shadow(2px 3px 4px #001e34);
	}
}

.mxp-hero p {
	margin: 1em auto;
	padding: 3px 6px;
	border-radius: 3px;
    border: 0px solid;
	max-width: 768px;
}

.mxp-hero h2 {
    padding: 0;
    border-radius: 3px;
    border: 0px solid;
    font-size: 2.5em;
    text-align: left;
	//filter: drop-shadow(2px 3px 4px white);
}
.hero-headcontainer {
    /*flex: 1;
    margin: 64px 50% 0 auto;
    max-width: 64vh;
	@media (max-width: 600px){
		margin: 8px 32px 0 32px; 
	}
}
.bottom-img .hero-headcontainer {*/
    flex: 1;
    max-width: 64vh;	
	/*@media (max-width: 600px){
		margin: 8px 32px 0 32px; 
	}*/
	margin: 50% 50% 50% 5%;
	@media (max-width: 2100px){
		
		margin: 128px 50% 0 5%;;//8px 32px 0 32px;// 64px 50% 0 auto; 
	}
	@media (max-width: 1100px){
		margin: 64px 64px 0 64px;//8px 32px 0 32px;// 64px 50% 0 auto; 
	}
}
.hero-subheadline {
	font-size: 1.2em;
	font-weight: normal;
    text-align: left;
	filter: drop-shadow(2px 3px 2px #aaabbb);
}

.flex-filler.vh-centered-column.titletextandimage-inputcontainer {
	height: 300px;
	width: 300px;
}

.flex-filler.vh-centered-column.titletextandimage-textcontainer {
	h2 {
		text-align:center;
	}
	max-width: 300px;
	margin: 0;
	padding: 24px;
	text-align: justify;
	height: fit-content;
	min-height: inherit !important;
	/* box-shadow: inset 2px 5px 6px #00000021; */
	/* border: 32px solid white; */
	border-radius: 32px;
	align-items: center;
	//background-color: #00000008;
	align-self: center;
}
.flex-container.titletextandimage{
	align-items: center;
}
.flex-container.titletextandimage.column >div {
	margin-bottom: 30px;
}
.flex-container.titletextandimage.row >div {
	margin-right: 60px;
}
.flex-container.titletextandimage.row-reverse >div {
	margin-left: 60px;
}

.flex-container.titletextandimage {
	max-width: 768px;
	width: 100%;
}

.example-intro {
	margin: 64px 32px 0 32px;
	max-width: 768px;
}

.landing-mailto-form {
	position: relative;
	padding: 24px;
	box-shadow: 2px 5px 6px #00000061;
	border: 0px solid;
	border-radius: 12px;
	margin: 64px 16px 64px 16px;
    background: white;
	.email-bg-img {
		position: absolute;
		pointer-events: none;
		opacity: 0.15;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 0px solid;
		border-radius: 12px;
		overflow: hidden;
		img {
			border: 0px;
		}
	}
}

.videodisplay {
	video {
		height: 100%;
		object-fit: scale-down;
		width: 100%;
	}
}

.app-content {
	background-color: #efefef;
}

.mxp-hero {
	text-align: center;
	//padding-bottom: 108px;
}

.buttonrow {
	display: flex;
	flex-direction: row;
	margin: 16px 0 16px 0;
	//@media (max-width: 1920px){
		flex-direction: column;
	//}
}

.vertical-line {
	margin: auto 0px;
    height: 1.5em;
    width: 1px;
	background-color: lightgrey;
	//@media (max-width: 1920px){
		height: 1px;
		width: 1.5em;
		margin: 0px auto;
	//}
}

.mt-16 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
}

.mb-16 {
	margin-bottom: 16px;
}

.cta-container {
	position: absolute;
    right: 32px;
    left: 0;
    bottom: 32px;
    align-items: flex-end;

	align-self: center;
    margin-left: 837px;
    margin-bottom: 32px;
	margin: 0 auto 0 50%;
    max-width: 64vh;
	display: flex;
	flex-direction: column;
	margin-top: -108px;
    border: 0 solid;
    border-radius: 6px 6px 0 0;
    //margin: -108px 12px 0 12px;
    /* box-shadow: 5px 5px 6px #00000061; */
    z-index: 0;
	//padding: 0px 16px;
	@media (max-width: 600px) {
		right: 16px;
		bottom: 16px;
	}
}

.cta-helper-box {
	box-shadow: none;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    border-radius: 12px;
    padding: 24px;
}

.mxp-logo {
	position: absolute;
	z-index: 2;
	height: 48px;
    max-width: 48px;
    
    background: white;
    border: solid 0px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
	img {
		height: 87%;
		width: 87%;
		padding: 7%;
	}
	margin-top: 6px;
	@media (max-width: 600px){
		margin-top: 3px;
	}
}

.mxp-header {
	display: flex;
    flex-direction: row;
    align-self: stretch;
    margin: 0 auto;
    width: 768px;
	justify-content: center;
	.MuiButton-root {
		flex: 1;
		z-index: 1;
	}
	.center-space {
		width: 90px;
	}
}

.my-little-helper-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
	border: 0px solid;
	border-radius: 12px;
	padding: 24px;
	box-shadow: 2px 5px 6px #00000061;
	.single-img-sel {
		border: 2px dashed;
    	border-radius: 3px;
		width: 240px;
    	height: 160px;
	}
	.MuiFormControl-root{
		width: 100%;
	}
}

.interactive-form-heading {
	color: #9e2104;
}

.my-little-video-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
	border: 0px solid;
	border-radius: 12px;
	padding: 0;
	overflow: hidden;
	width: fit-content;
	height: fit-content;
	box-shadow: 2px 5px 6px #00000061;
	video {
		background: white;
	}
	.bg-editor-blue {
		background: #001e34;
	}
}

hr {
	border: 0px;
}

.three-line-height {
	height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-fixed-conv-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	background: white;
	border: 0px solid;
	border-radius: 12px;
	padding-top: 24px;
	box-shadow: 2px 5px 6px #00000061;
	overflow: hidden;
	b {
		align-self: center;
	}
	.bottom-nav{
		.bottom-nav-topfree {
			padding: 0 24px 0 24px;
			.imgdisplay {
				height: 150px;
			}
		}
		.MuiBottomNavigation-root {
			margin: 0 -24px 0 -24px;
			align-self: stretch;
		}
	}

}

.explore-page {
	display: flex;
	background: white;
	max-width: 768px;
	flex-direction: column;
    align-items: center;
	align-self: center;

	.explore-intro {
		margin-top: 33%;
	}

	.wordpress-container {
		display: flex;
	    flex-direction: row;
	}
	.youtube-container {
		display: flex;
	    flex-direction: row;
		flex-wrap: wrap;
		align-self: stretch;
		width: 100%;
		justify-content: space-evenly;
		margin: 64px 0;
		.card-style {
			width: 284px;
			margin: 16px;
			height: 280px;
			text-align: center;
			.yt-embed {
				margin-top: 12px;
				margin-bottom: 12px;
				margin-left: auto;
				margin-right: auto;
				max-width: 100%;
				border-width: 0px;
				flex: 1 1 0%;
				width: 100%;
				height: 100%;
				background: darkgrey
			}
			.last {
				flex-direction: column;
			}
		}
	}
	.social-links-container{
		display: flex;
	    flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
    	width: 100%;
		margin: 64px 0;
		.social-link-w-img {
			width: 64px;
			display: flex;
			flex-direction: column;
			align-items: center;
			span {
				margin: 12px 0 6px 0;
			}
			.imgdisplay {
				width: 36px;
				height: 36px;
			}
		}
		a {
			color: black;
			text-decoration-line: none;
			font-family: Roboto, Arial;
			font-weight: normal;
		}
		
	}
}

.MuiToolbar-gutters {
	padding: 0px !important;
}

.footer-imprint{
	color: darkgrey;
	margin: 64px 0;
	font-size: 12px;
}

.bottom-nav-topfree {
	background: white;
}

.bulletpoint {
	background-color: #ffffffaa;
    margin: 0 auto;
    padding: 3px 6px;
    border-radius: 3px;
    border: 0px solid;
    max-width: 768px;
    text-align: justify;
}

.bulletpoint:before  {
		content: "•"; 
		display: inline-block; 
		width: 1em;
		margin-left: -1em
}

.mailto-nav-flex {
	flex: 1;
	display: flex;
	flex-direction: row;
	@media (max-width: 644px){
		flex-direction: column;	
	}
}
.mailto-nav-formcontainer {
	flex: 1;
}
.mailto-nav-feedback {
	flex: 1;
	margin-top: 76px;
	display: flex;
    flex-direction: column;
    text-align: center;
	@media (max-width: 644px){
		margin-top: 0px;
		margin-bottom: 76px;
	}
}

.longintro-whatif {
	padding: 24px;
	text-align: justify;
}

.testimonial {
    display: flex;
    flex-direction: row;
    margin: 16px;
    .circle {
        height: 42px;
        width: 42px;
        min-height: 42px;
        min-width: 42px;
    }
    .speech-bubble {
        background-color: #eee;
        border: 0px solid; 
        border-radius: 16px;
        padding: 16px;
        margin: 0;
        
    }
	.arrow {
		width: 0;
		height: 0;
		border-bottom: 16px solid transparent;
	}
	.person-name {
		font-size: 80%;
	}
	&.left{
		.speech-bubble {
			border-top-left-radius: 0px;
		}
		.arrow {
			border-right:16px solid #eee; 
		}
	}
	&.right{
		flex-direction: row-reverse;
		.speech-bubble {
			border-top-right-radius: 0px;
		}
		.arrow {
			border-left: 16px solid #eee;
		}
	}
}

