@import "react-toolbox/lib/colors.css";
@import "~react-toolbox/lib/input/theme";

$color-primary: #FF00FF;//$palette-green-600;
$color-primary-dark: #AA00AA;//$palette-purple-a700;

.inputElement {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: $color-primary !important;
  display: block;
  font-size: 32px !important;
  outline: none;
  padding: 8px 0;
  width: 100%
}