@import 'm-react-splitters/lib/splitters.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
$designer-primary-color: #dadada;
$designer-secondary-color: rgba(180,
180,
180,
0.3);
$designer-background-color: #010f27;
$designer-background-elevated-color: #0c1e3a;
$designer-selected-color: rgba(87,
161,
245,
0.9);
.app-preview {
	width: 420px;
	height: 746px;
	background-image: url('/dist/static/designer-phone-bg.png');
	padding: 69px 58px 80px 58px;
	box-sizing: border-box;
	font-family: Roboto, Arial;
}

.header-img-container {
	height: 300px;
	overflow: hidden;
}

.header-img-container.overlay-gradient {
	width: 100%;
	position: relative;
	height: 150px;
	content: "";
	margin-top: -150px;
	display: flex;
	background-image: -webkit-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
	background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
}

.header-text {
	color: white;
	font-size: x-large;
	align-self: flex-end;
	padding: 0px 0px 25px 20px;
	//margin-top: -100%;
}

.imgdisplay {
	height: 100%;
	width: 100%;
	#img {
		object-fit: cover;
		-webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
	}
}

.imgheadsubdesc-text {
	padding: 20px;
}

.entrypoint-editor {
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: row;
	.designer-content {
		background-color: $designer-background-elevated-color;
		display: flex;
		width: 100%;
		float: left;
		position: relative;
	}
	.designer-tray {
		min-width: 200px;
		background: $designer-background-elevated-color;
		flex-grow: 0;
		flex-shrink: 0;
		.designer-tray-item {
			color: white;
			font-family: Roboto, Arial;
			padding: 5px;
			margin: 0px 10px;
			border: solid 1px;
			border-radius: 5px;
			margin-bottom: 2px;
			cursor: pointer;
		}
	}
	.diagram-body {
		height: 100%;
		display: flex;
	}
	.diagram-layer {
		position: relative;
		flex-grow: 1;
	}
	.vertical-scroll {
		float: left;
		width: 100%;
		overflow-y: auto;
		height: 100%;
	}
}

.storm-diagrams-canvas {
	position: relative;
	flex-grow: 1;
	display: flex;
	cursor: move;
	overflow: hidden;
	height: 100%;
	background: $designer-background-color;
	.point {
		fill: $designer-secondary-color;
		&.selected {
			fill: $designer-selected-color;
		}
	}
	.selector {
		position: absolute;
		background-color: rgba(0, 195, 255, 0.2);
		border: solid 2px $designer-selected-color;
	}
	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		transform-origin: 0 0;
		overflow: visible;
	}
	.node-view {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		pointer-events: none;
		transform-origin: 0 0;
	}
	.node {
		position: absolute;
		-webkit-touch-callout: none;
		/* iOS Safari */
		-webkit-user-select: none;
		/* Chrome/Safari/Opera */
		user-select: none;
		cursor: move;
		pointer-events: all;
		&.selected {
			>* {
				border-color: $designer-selected-color !important; //-webkit-filter: drop-shadow( 0 0 20px rgba(0,192,255,0.5));
			}
		}
	}
	@keyframes dash {
		from {
			stroke-dashoffset: 24;
		}
		to {
			stroke-dashoffset: 0;
		}
	}
	path {
		fill: none;
		pointer-events: all;
		stroke: $designer-secondary-color;
		&.selected {
			stroke: $designer-selected-color !important;
			stroke-dasharray: 10, 2;
			animation: dash 1s linear infinite;
		}
	}
	.port {
		width: 15px;
		height: 15px;
		background: $designer-secondary-color;
		&:hover,
		&.selected {
			background: $designer-selected-color;
		}
	}
	.basic-node {
		background-color: rgb(30, 30, 30);
		border-radius: 5px;
		font-family: Roboto, Arial;
		color: $designer-primary-color;
		border: solid 2px $designer-secondary-color;
		overflow: visible;
		font-size: 11px; //box-shadow: 0 0 10px rgba(black,0.5);
		.title {
			/*			background-image: linear-gradient(rgba(black,0.1),rgba(black,0.2));*/
			background: rgba(black, 0.3);
			display: flex;
			white-space: nowrap;
			>* {
				align-self: center;
			}
			.fa {
				padding: 5px;
				opacity: 0.2;
				cursor: pointer;
				&:hover {
					opacity: 1.0;
				}
			}
			.name {
				flex-grow: 1;
				padding: 5px 5px;
			}
		}
		.ports {
			display: flex;
			background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.2));
			.in,
			.out {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
			}
			.in-port,
			.out-port {
				display: flex;
				margin-top: 1px;
				>* {
					align-self: center;
				}
				.name {
					padding: 0 5px;
				}
			}
			.top-port {
				>* {
					align-self: flex-start !important;
				}
			}
			.out-port {
				justify-content: flex-end;
				.name {
					justify-content: flex-end;
					text-align: right;
				}
			}
		}
	}
}