@import 'm-react-splitters/lib/splitters.css';
//@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './editor/colors.scss';
@import "storm-react-diagrams/dist/style.min.css";
@import "./game/game.scss";
@import "./shnyder/shnyder.scss";

$app-outer-width: 420px;
$app-inner-width: 304px;
$app-inner-width-90: $app-inner-width * 0.9;

#app {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(#64b7ff, rgba(255, 255, 255, 0.3), rgba(153, 227, 255, 0.3));
}

.app-preview {
	min-width: $app-outer-width;
	width: $app-outer-width;
	height: 746px;
	background-image: url('/static/designer-phone-bg.png');
	padding: 69px 58px 80px 58px;
	box-sizing: border-box;
	font-family: Roboto, Arial;
	text-overflow: ellipsis;
	//overflow-x: hidden;
	min-width: 420px;
	overflow-y: hidden;
	margin: auto;

	.app-content {
		border: solid 1px rgba(0, 0, 0, 0.16);
	}
}

.mode-switcher {
	z-index: 999;
	position: absolute;
	right: 0px;
	top: 0px;
}

.app-actual {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	font-family: Roboto, Arial;
	text-overflow: ellipsis;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app-content {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	background: #f9f9f9;
}

.header-img-container {
	height: 300px;
	overflow: hidden;
}

.vh-centered-column {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	min-height: fit-content;
	min-width: 40px;

	>* {
		margin: 5px;
	}
}

.header-img-container.gradient {
	width: 100%;
	position: relative;
	height: 150px;
	content: "";
	margin-top: -150px;
	display: flex;
	background-image: -webkit-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
	background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
	pointer-events: none;
}

.header-text {
	color: white;
	font-size: x-large;
	align-self: flex-end;
	padding: 0px 0px 25px 20px; //margin-top: -100%;
}


@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.imgdisplay {
	height: 100%;
	width: 100%;
	max-height: fit-content;
	min-height: inherit;

	>img {
		animation: fadein 250ms;
		height: 100%;
		width: 100%;
		max-height: fit-content;
		min-height: inherit;
		object-fit: cover;
		transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
	}
}

.is-loading *,
.is-loading *:before,
.is-loading *:after {
	animation-play-state: paused !important;
}

.imgheadsubdesc-text {
	padding: 20px;
}

.editor-switch-btn {
	position: absolute;
	top: 30px;
	right: 30px;
	background-color: #edc11cff !important;
}

.entrypoint-editor {
	//width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: row;
	background-color: $editor-background-color;
	overflow: hidden;

	.editor-content {
		background-color: $editor-background-elevated-color;
		display: flex;
		width: 100%;
		float: left;
		position: relative;
	}

	.editor-tray {
		position: relative;
		min-width: 250px;
		max-width: 400px;
		background: $editor-background-elevated-color;
		flex-grow: 0;
		flex: 1;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		height: 100%;

		.editor-tray-item {
			overflow: hidden;
			text-overflow: ellipsis;
			color: white;
			font-family: Roboto, Arial;
			padding: 5px;
			margin: 0px 10px;
			border: solid 1px;
			border-radius: 5px;
			margin-bottom: 3px;
			cursor: pointer;
			display: flex;
			align-items: center;
			height: 2em;
			min-height: fit-content;
			transition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1);
			position: relative;

			&.opened {
				transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
				height: 5em;
			}

			.load-iconbtn {
				visibility: hidden;
				opacity: 0;
				margin-top: 0;
				position: absolute;
				background-color: #edc11cff !important;
				color: black !important;
				align-self: center;
				right: 0.5em;
				transition: opacity 0.1s ease-in, visibility 0.3s linear;

				&.opened {
					visibility: visible;
					opacity: 1;
					transition: opacity 0.2s ease-out;
				}
			}
		}
	}

	.diagram-body {
		height: 100%;
		display: flex;
	}

	.diagram-layer {
		position: relative;
		flex-grow: 3;
	}

}

.menu-pop-over {
	width: $app-inner-width-90;
	white-space: normal;
	display: flex;
	flex-direction: column;

	>* {
		flex: 1;
		max-width: $app-inner-width;
	}
}

.srd-diagram {
	position: relative;
	flex-grow: 1;
	flex: 1;
	display: flex;
	cursor: move;
	overflow: hidden;
	height: 100%;
	background: $editor-background-color;

	.point {
		fill: $editor-secondary-color;

		&.selected {
			fill: $editor-selected-color;
		}
	}

	.selector {
		position: absolute;
		background-color: rgba(0, 195, 255, 0.2);
		border: solid 2px $editor-selected-color;
	}

	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		transform-origin: 0 0;
		overflow: visible;
	}

	.node-view {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		pointer-events: none;
		transform-origin: 0 0;
	}

	.node {
		position: absolute;
		-webkit-touch-callout: none;
		/* iOS Safari */
		-webkit-user-select: none;
		/* Chrome/Safari/Opera */
		user-select: none;
		cursor: move;
		pointer-events: all;

		&.selected {
			>* {
				border-color: $editor-selected-color !important; //-webkit-filter: drop-shadow( 0 0 20px rgba(0,192,255,0.5));
			}
		}
	}

	@keyframes dash {
		from {
			stroke-dashoffset: 24;
		}

		to {
			stroke-dashoffset: 0;
		}
	}

	path {
		fill: none;
		pointer-events: all;
		stroke: $editor-secondary-color;

		&.selected {
			stroke: $editor-selected-color !important;
			stroke-dasharray: 10, 2;
			animation: dash 1s linear infinite;
		}
	}

	.port {
		width: 15px;
		height: 15px;
		background: $editor-secondary-color;

		&:hover,
		&.selected {
			background: $editor-selected-color;
		}
	}

	.basic-node {
		background-color: rgb(30, 30, 30);
		border-radius: 5px;
		font-family: Roboto, Arial;
		color: $editor-primary-color;
		border: solid 2px $editor-secondary-color;
		overflow: visible;
		font-size: 11px; //box-shadow: 0 0 10px rgba(black,0.5);

		.title {
			/*			background-image: linear-gradient(rgba(black,0.1),rgba(black,0.2));*/
			background: rgba(black, 0.3);
			display: flex;
			white-space: nowrap;

			>* {
				align-self: center;
			}

			.fa {
				padding: 5px;
				opacity: 0.2;
				cursor: pointer;

				&:hover {
					opacity: 1.0;
				}
			}

			.name {
				flex-grow: 1;
				padding: 5px 5px;
			}
		}

		.ports {
			display: flex;
			background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.2));

			.in,
			.out {
				flex-grow: 1;
				display: flex;
				flex-direction: column;

				.name {
					padding: 0 5px;
				}

				margin-top: 1px;
			}

			.top-port {
				>* {
					align-self: flex-start !important;
				}
			}

			.out-port {
				display: flex;
				justify-content: flex-end;

				.name {
					justify-content: flex-end;
					text-align: right;
				}
			}
		}
	}
}

.flex-container {
	display: flex;
}

.flex-filler {
	flex: 1;
}

.full-navbar {
	padding: 0 !important;

	.inner {
		display: flex;

		>* {
			flex: 1;
			display: flex;
		}
	}
}

.onboarding-img {
	height: 3.5em;
	width: unset !important;
	min-height: 3.5em;
	margin: 1em;
	display: flex;
	align-content: center;

	>img {
		animation: none !important;
		transition: none !important;
	}
}

.hero-gallery {
	height: 80%;
	min-height: 300px;
	flex: 1;
	flex-shrink: 0;

	.bg-container {
		background-color: #00375f;
	}
}

.hero-front-inner {
	background-image: linear-gradient(to top, #0e1727, rgba(0, 27, 29, 0.8));
	box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.54118);
}

.bluebg {
	background-color: #00375f;
}

.shnyder-nav {
	background-color: #00375f;

	div div {
		box-shadow: none !important;

		span {
			background-color: rgba(255, 255, 255, 0.4);
			;
		}

		div span {
			background-color: transparent;
		}
	}
}

.onboarding-sig {
	justify-content: center;
	display: flex;
	margin-bottom: 1em;

	>img {
		height: 7em;
		min-height: 7em;
		width: 6.2em;
	}
}

.onboarding-form {
	display: flex;
	flex-direction: row;
	flex: 1;

	button {
		background-color: #edc11cff !important;
		color: black !important;
		align-self: center;
		margin-top: 1.5em;
		margin-right: 1em;
	}
}

.maxminheight100 {
	max-height: 100%;
	min-height: 100%;
}

.center-text {
	text-align: center;
	margin-bottom: 1em;
}

.onboarding-card-container {
	max-width: 500px;
	align-self: center;
	text-justify: newspaper;
	text-align: justify;
}

.onboarding-text {
	display: flex;
	align-content: flex-start;
	flex-direction: column;
	text-justify: newspaper;
	text-align: justify;
	max-width: 500px;
	align-self: center;
	min-height: 200px;

	p {
		margin-left: 1em;
		margin-right: 1em;
	}

	i,
	p:last-of-type {
		margin-bottom: 1em;
	}

	span,
	h3 {
		flex: 1;
	}

}

.dense-form {
	flex: 1;
	align-self: center;
	display: flex;
	flex-direction: column;
	margin: 2em;
	margin-top: 3em;
	margin-right: 0.5em;

	>* {
		flex: 1;
		margin: 0;
		text-align: center !important;
		padding-bottom: 0 !important;

	}

	label {
		color: white;
	}
}

.onboarding-editor-wrapper {
	margin: 1em;
	margin-bottom: 0;
	flex: 1;
	box-shadow: 0px 5px 15px 6px #00375f;
	height: 500px;
	display: block;
}

.mexpbg {
	>img {
		opacity: 0.5;
		animation: none;
		height: 100%;
		width: 100%;
		max-height: fit-content;
		min-height: inherit;
		object-fit: cover;
		transition: none;
	}
}

.onboarding-logo {
	display: flex;
	flex-direction: row;
	flex: 1;

	button {
		position: absolute;
		background-color: #edc11cff !important;
		color: black !important;
		align-self: center;
		margin-top: 1.5em;
		right: 0.5em;
	}
}

.me-beta-mailchimp {
	display: flex;
	flex: 1;

	#mc_embed_signup {
		background: transparent;
		clear: left;
		font: 14px Helvetica, Arial, sans-serif;
		width: 100%;
		align-self: center;
		margin-top: 2em;

		input.email {
			width: 95% !important;
			max-width: 350px;
			min-width: 100px;
		}
	}

	#mc_embed_signup_scroll {
		>* {
			margin: .5em !important;
		}
	}

	#mc-embedded-subscribe-form input[type=checkbox] {
		display: inline;
		margin-right: 10px;
	}

	#mergeRow-gdpr {
		margin-top: 20px;
	}

	#mergeRow-gdpr fieldset label {
		font-weight: normal;
	}

	#mc-embedded-subscribe-form .mc_fieldset {
		border: none;
		min-height: 0px;
		padding-bottom: 0px;
	}

	#mc-embedded-subscribe.button {
		background-color: rgb(237, 193, 28) !important;
		color: black !important;

		&:hover {
			background-color: whitesmoke !important;
			color: black;
		}
	}
}

.me-beta-imprint {
	height: 150px;
	width: 100%;
	background-image: linear-gradient($editor-background-elevated-color, $editor-background-color);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px -2px 6px 0px rgba(0, 0, 0, .4);

	p {
		margin: 0;
		height: fit-content;
		border: 5px white;
		/* border: 2px solid rgba(255, 255, 255, 0.1); */
		border-radius: 5px;
		padding: 15px 30px;
		box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, .25);
		/* background-color: white; */
	}

	.imprint_imprint {
		opacity: 0.4;
	}

	.imprint_name {
		opacity: 0.9;
	}

	.imprint_country {
		opacity: 0.9;
	}

	.imprint_zipcode {
		opacity: 0.9;
	}

	.imprint_locality {
		opacity: 0.9;
	}

	.imprint_street {
		opacity: 0.9;
	}
}

.valueprop {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.valuepropimg {
	min-height: 4em;
	height: 4em;
	margin-bottom: 1em;
	padding-top: 1em;
}