@import "~metaexplorer-react-components/lib/components/card/card.css";
@import "~metaexplorer-react-components/lib/components/circle/circleview.css";
@import "~metaexplorer-react-components/lib/components/dnd/dnd.css";
@import "~metaexplorer-react-components/lib/components/dnd/editor-dnd.css";
@import "~metaexplorer-react-components/lib/components/hero/hero.css";
@import "~metaexplorer-react-components/lib/components/minitoolbox/minitoolbox.css";
@import "~metaexplorer-react-components/lib/components/tabs/tabs.css";
@import "~metaexplorer-react-components/lib/components/treeview/treeview.css";

@import "./diagram.scss";
@import "./user-info.scss";
@import "./preview.scss";
@import "./newitpt.scss";
@import "./save-status.scss";
@import "./itpt-summary.scss";
@import "./simple-data-types.scss";
@import "./itpt-library.scss";


$color-primary: #FF00FF; //$palette-green-600;
$color-primary-dark: #AA00AA; //$palette-purple-a700;

$tray-item-color-primary: #dadada;
$tray-item-color-secondary: $editor-background-elevated-color;
$tray-item-color-tertiary: #57a1f5c8;
$traybuttonheight: 36px;

$button-color-cta: orange;

.inputElement {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: $editor-primary-color !important;
  display: block;
  outline: none;
  padding: 8px 0;
  width: 100%
}

.dropdown {
  .values {
    background-color: $editor-background-elevated-color;
    color: $editor-primary-color;

    *:hover {
      background-color: $editor-secondary-color !important;
    }
  }
}

.on .thumb {
  background: $color-primary-dark !important;
}

.editor-layout {
  min-height: 100% !important;

  > :not(.nav-element) {
    z-index: unset !important;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
}

.editor-navbar-clipped {
  background: #fff;
}

.button-row {
  flex-direction: row-reverse;
  position: absolute;
  //background-color: $editor-background-elevated-color;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: rgba($editor-background-elevated-color, 0.6);
  height: 36px;
  padding-right: 3px;
  z-index: 99;

  >div>* {
    padding: 0 6px !important;
  }

  &.small {
    min-width: 36px;
  }

  .newbtn {
    background-color: #41ae3fff;
    color: #00375f;

    &:hover {
      color: white !important;
    }
  }
}

.editorbtn {
  min-width: 36px;
  min-height: 36px;
  border: none;
  background-color: #ffffff00;
  color: white;
  font-family: Roboto, Arial;
  font-weight: normal;
  letter-spacing: 1px;
  outline: 0px;

  &-large {
    height: 63px;
    width: 84px;
    background: #001e3400 !important;
  }

  &-action {
    background: linear-gradient(to bottom, rgba(0, 55, 95, 1), 85%, #001e34 100%);
    width: 108px;
    color: white;
    margin: 0 3px 0 3px;
    cursor: pointer;
    position: relative;

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    &:before {
      transition: opacity 0.25s ease;
      content: '';
      background: linear-gradient(to bottom, #001e3400, 85%, #86c5f2c8 100%);
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      right: 0;
      position: absolute;
      opacity: 0;
    }

  }

  &-small {}

  &-autolayout {}

  &-toleft {
    background: linear-gradient(to right, rgba(0, 55, 95, 0.6), 85%, #001e3400 100%);

    &.isopen {
      background: rgba(0, 55, 95, 0.6);
    }

    &:before {
      display: block;
      position: absolute;
      top: 50%;
      width: 8px;
      height: 2px;
      background-color: currentColor;
      content: '';
      left: 40%;
      transition: transform 0.25s ease;
      transform: rotate(-45deg) translateY(2px);
    }

    &.isopen:before {
      transform: rotate(-135deg) translate(-1px, -1px);
    }

    &:after {
      display: block;
      /* visibility: hidden; */
      position: absolute;
      bottom: 50%;
      width: 8px;
      height: 2px;
      background-color: currentColor;
      content: '';
      left: 40%;
      transition: transform 0.25s ease;
      transform: rotate(45deg) translateY(-2px);
    }

    &.isopen:after {
      transform: rotate(135deg) translate(-1px, 1px);
    }
  }
}

.editor-top-bar {
  flex-direction: row;
  position: absolute;
  //background-color: $editor-background-elevated-color;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: rgba($editor-background-elevated-color, 0.6);
  height: 24px;
  font-size: xx-small;
  color: white;
}

.refmap-drop-outer {
  height: 36px;
  display: flex;
  background-color: rgba($editor-background-elevated-color, 0.6); // $saturation: -20%, $lightness: 10%);
  flex-direction: column-reverse;
  width: 100%;
}

.refmap-drop-inner {
  color: adjust-color($color: #ffffff, $lightness: 80%, $alpha: 0.8);
  font-family: Roboto, Arial;
  /*margin: 0px 10px;
  border: solid 1px;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 2px;*/
  cursor: pointer;
  text-align: center;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  >* {
    padding: 0 6px !important;
  }
}

.nav-drawer-wrapper {
  left: 0;
  position: absolute;
  //right: 0;
  top: 0;
  bottom: 0;

  &.active {
    transition-timing-function: ease-in;
    transition: 0.3s;
  }

  &.inactive {
    transition-timing-function: ease-out;
    transition: 0.2s;
    transform: translateX(-100%);
    overflow: visible;
  }
}

.drawer {
  height: 100% !important;
  border: 0px solid !important;
  overflow-y: hidden;
  position: relative !important;
  bottom: 0;
  top: 0;
  z-index: 200 !important;

}

.overlay {
  /*background-color: var(--overlay-color);
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity var(--animation-duration) var(--animation-curve-default);
  width: 100vw;*/
  //display: none;

  &.active {
    //display: none;
    /*opacity: var(--overlay-opacity);
    pointer-events: all;*/
  }
}


.fakeheader {
  display: flex;
  flex-direction: row-reverse;
  height: 63px;
  align-items: center;

  >a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration-line: none;

    >span {
      margin: 15px;
    }
  }
}

.top-left {
  top: 0;
  left: 0;
  z-index: 2200;
  width: min-content;
  background: linear-gradient(to right, rgba($editor-background-elevated-color, 0.6), 80%, rgba(0, 0, 0, 0) 100%);
}

.bottom-left {
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 2200;
}

.bottom-right {
  bottom: 0;
  right: 0;
  z-index: 201;
}

.navbar-pinned {
  position: fixed;
  z-index: 199 !important;
}

.sidebar-pinned {
  position: fixed;
  z-index: 200 !important;
}

.nav-element {
  position: absolute;
  color: white !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.input-highlight {
  width: 180px;
  color: #fff !important;
}

@keyframes fadeandmove {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*
.preview-hidden-btn {
  width: 0;
  height: 746px;
  padding: 69px 0px 80px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  overflow-x: visible;

  button {
    margin-top: -43px;
    position: absolute;
    color: white !important;
    transform: translateX(-100%);
    background-color: #d6d6d6 !important;
  }
}*/

.phone-preview-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.phone-preview-btns {
  margin-top: -43px;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  padding-right: 4.8em;
  flex-direction: row;
  justify-content: flex-end;

  button {
    margin: 0 6px;
    color: white !important;
    background-color: #d6d6d6 !important;
  }

  button.fullscreen {
    background-color: #edc11cff !important;
  }
}

.code-preview {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 746px;
  //padding: 69px 58px 80px 58px;
}

.rotated-serialize {
  align-self: center;
  width: 36px;
  height: 36px;
  transform: translate(0%, -60px) rotate(90deg);
  left: 0;
  position: absolute;
  z-index: 150;
}

.rotated-preview-switch {
  position: absolute;
  right: 0;
  z-index: 150;
  align-self: center;
  width: 36px;
  height: 36px;
  transform: translate(0%, 60px) rotate(270deg);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  80% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    max-height: 32px;
    color: #FFFFFF00;
  }

  to {
    max-height: 240px;
    color: #fff;
  }
}

.srd-link-menu.anim {
  animation: expand;
  animation-duration: 600ms;
  height: fit-content;
}

.srd-link-menu {
  position: absolute;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  user-select: none;
  border: solid 0px;
  border-radius: 6px;
  cursor: move;
  pointer-events: all;
  z-index: 150;
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  opacity: 0.8;
  height: 32px;
  width: fit-content;

  h3 {
    padding: 6px;
    margin: 6px 0px 6px 0px;
    white-space: nowrap;
    overflow: hidden;
  }

  background-color: $editor-background-elevated-color;

  .labelmsg {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    padding: 3px;
    color: #fff;

    >* {
      flex: 1;
    }
  }

  .menu-col {
    //animation: fadein;
    //animation-duration: 400ms;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    padding-top: 0;

    .menu-row {
      display: flex;
      flex-direction: row;

      align-items: center;

      .btn {
        background-color: $editor-secondary-color;
        width: 30px;
        height: 30px;
        border-width: 0px;
        padding: 0px;
        -webkit-appearance: unset;
      }

      .btn:enabled {
        color: white;
      }

      .btn:hover:enabled {
        color: $editor-selected-color;
      }
    }
  }
}


.entrypoint-editor-inner {
  height: 100%;
  width: 100%;
  position: relative;
}

.entrypoint-editor {
  //width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: $editor-background-color;
  overflow: hidden;
  font-family: Roboto, Arial;

  .editor-content {
    background-color: $editor-background-elevated-color;
    display: flex;
    width: 100%;
    float: left;
    position: relative;
  }

  .editor-tray {
    z-index: 2000;
    position: relative;
    min-width: 288px;
    max-width: 288px;
    background: $editor-background-elevated-color;
    flex-grow: 0;
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    opacity: 0.9;
  }

  .diagram-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }

  .diagram-layer {
    position: relative;
    flex-grow: 3;
  }

}

.editor-tray-item {
  overflow: hidden;
  text-overflow: ellipsis;
  color: $tray-item-color-primary;
  background-color: $tray-item-color-secondary;
  font-family: Roboto, Arial;
  padding: 6px;
  margin: 0px 10px;
  border: solid 1px;
  border-radius: 6px;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 2em;
  min-height: fit-content;
  transition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  ;
  position: relative;

  &.opened {
    transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    height: 5em;
    background-color: rgba($tray-item-color-primary, 0.8);
    color: $tray-item-color-secondary;
  }

  &:active {
    transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $tray-item-color-primary;
    color: $tray-item-color-secondary;
  }

  &:hover {
    transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $tray-item-color-primary;
    color: $tray-item-color-secondary;
  }


  .preview-iconbtn {
    visibility: hidden;
    opacity: 0;
    height: $traybuttonheight;
    margin-top: $traybuttonheight;
    position: absolute;
    background-color: #edc11cff !important;
    color: black !important;
    align-self: center;
    right: 0.5em;
    transition: opacity 0.1s ease-in, visibility 0.3s linear;

    &.opened {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }
  }
}

.editor-transit {
  .editor-tray-item {
    width: 224px;
    background-color: $tray-item-color-primary;
    color: $tray-item-color-secondary;
  }
}

.editor-tabs-dropcontainer {
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  height: 32px;
}

.editor-btn {
  border: none;
  border-right: solid 0px;
  border-radius: 6px;
  background-color: transparent;
  font-weight: bold;

  &-confirm {
    background-color: $button-color-cta;
    color: $tray-item-color-secondary;

    &:hover {
      background-color: lighten($button-color-cta, 10%)
    }
  }

  &-fstoggle {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    outline: 0px;
    box-shadow: -6px 7px 8px 0px rgba(0, 0, 0, 0.6);
    padding: 0px;
    font-size: x-small;

    &:before {
      content: ' ';
      background: url("./static/minimize.svg");
      top: 0;
      left: 0;
      width: 64px;
      height: 64px;
      position: absolute;
      background-size: contain;
    }
  }

  &-addport {
    padding: 12px 18px;
    background-color: $tray-item-color-secondary;
    color: $tray-item-color-primary;

    &:hover {
      background-color: $tray-item-color-tertiary;
    }
  }

  &-explore {
    padding: 12px 18px;
    background-color: $tray-item-color-secondary;
    color: $tray-item-color-primary;
    position: relative;
    min-width: 120px;

    &:hover {
      background-color: $tray-item-color-tertiary;
    }

    &:before {
      content: '';
      background: url("./static/maximize.svg");
      background-origin: content-box;
      top: auto;
      right: 6px;
      bottom: auto;
      margin-top: -5px;
      height: 24px;
      width: 24px;
      position: absolute;
      background-size: contain;
      opacity: 0.6;
    }
  }

  &-edit {
    padding: 0px 18px;
    background-color: $tray-item-color-secondary;
    color: $tray-item-color-primary;
    visibility: hidden;
    opacity: 0;
    height: $traybuttonheight;
    position: absolute;
    align-self: center;
    right: 0.5em;
    transition: opacity 0.1s ease-in, visibility 0.3s linear;

    &:hover {
      background-color: $tray-item-color-tertiary;
    }

    &.opened {
      visibility: visible;
      opacity: 0.8;
      transition: opacity 0.2s ease-out;

    }
  }
}

.minitoolbox-phonemenu-btn-1,
.minitoolbox-watchmenu-btn-1 {
  background-color: $button-color-cta;

  &:hover {
    background-color: lighten($button-color-cta, 10%)
  }
}

.mode-switcher {
  z-index: 9999;
  position: absolute;
  right: 32px;
  top: 32px;
}

.hidden-editor {
  position: absolute;
  transform: translateY(100vh);
  height: 100%;
  width: 100%;
}