.editor-selectbdt {
	display: block;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 90%;
	margin: 16px;
	max-width: 100%;
	box-sizing: border-box;
	border: 0px solid #aaa;
	opacity: 0.9;
	box-shadow: inset 0px 0px 3px 0px rgba(255, 255, 255, 0.8);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #00375f;
	//source modified from: https://codepen.io/chriscoyier/pen/RELVWj
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2357a1f5%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #00375f 0%, #00375f 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;

	&::-ms-expand {
		display: none;
	}

	&:hover {
		box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.8);
	}

	&:focus {
		color: white;
		background-color: #00375f;
		box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.8);
		outline: none;
	}

	option {
		font-weight: normal;
	}

	&-inputcontainer {
		padding: 6px;
		min-height: 42px;
		margin: 16px 0px 16px 16px;
		background: #ffffffaa;
		border: 0px solid;
		border-radius: 12px;
		box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.4);
	}
}