@import "react-toolbox/lib/colors.css";
//@import "react-toolbox/lib/input/theme.css";
@import './colors.scss';
@import "../../../node_modules/metaexplorer-react-components/src/components/treeview/treeview.scss";

$color-primary: #FF00FF; //$palette-green-600;
$color-primary-dark: #AA00AA; //$palette-purple-a700;

.inputElement {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: $designer-primary-color !important;
  display: block;
  outline: none;
  padding: 8px 0;
  width: 100%
}

.values {
  background-color: $color-primary-dark;
}

.on .thumb {
  background: $color-primary-dark !important;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.input-highlight {
  color: #fff !important;
}

.phone-preview-centered {
  display: flex;
  justify-content: center;
}

.phone-preview-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.code-preview {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 746px;
  //padding: 69px 58px 80px 58px;
}

.rotated-serialize {
  align-self: center;
  width: 36px;
  height: 36px;
  transform: translate(0%, -60px) rotate(90deg);
}

.rotated-preview-switch {
  align-self: center;
  width: 36px;
  height: 36px;
  transform: translate(0%, 60px) rotate(270deg);
}