$color-primary: #FF00FF; //$palette-green-600;
$color-primary-dark: #AA00AA; //$palette-purple-a700;
$editor-primary-color: #dadada;
$editor-secondary-color: rgba(180, 180, 180, 0.3);
$editor-background-color: #010f27;
$editor-background-elevated-color: #0c1e3a;
$editor-selected-color: rgba(87, 161, 245, 0.9);