@import "~metaexplorer-react-components/lib/components/hero/hero.css";

.app-content {
	background-color: #fff;
}

.mdscrollbar.landing-struct-data {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	align-items: center;
}

.mxp-hero {
	padding: 0;
    min-height: 66vh;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    background-size: auto 67%;
    background-position-x: center;
    background-position-y: 70px;
    background-repeat: no-repeat;
	
	background-image: url("/media/landing-hands-gift");
}

.mxp-hero.bottom-img {	
	background-image: url("/media/landing-hands-pottery");
}

.mxp-hero p {
	background-color: #ffffffaa;
	margin: 1em auto;
	padding: 3px 6px;
	border-radius: 3px;
    border: 0px solid;
	max-width: 768px;
}

.mxp-hero h2 {
	background-color: #ffffffaa;
	margin: 1.5em auto;
	padding: 3px 15px;
	border-radius: 3px;
    border: 0px solid;
	max-width: 768px;
}

.flex-filler.vh-centered-column.titletextandimage-inputcontainer {
	height: 300px;
	width: 300px;
}

.flex-filler.vh-centered-column.titletextandimage-textcontainer {
	max-width: 300px;
	margin: 0;
	padding: 24px;
	text-align: justify;
	height: fit-content;
	min-height: inherit !important;
	/* box-shadow: inset 2px 5px 6px #00000021; */
	/* border: 32px solid white; */
	border-radius: 32px;
	align-items: center;
	//background-color: #00000008;
	align-self: center;
}

.flex-container.titletextandimage.column >div {
	margin-bottom: 30px;
}
.flex-container.titletextandimage.row >div {
	margin-right: 60px;
}
.flex-container.titletextandimage.row-reverse >div {
	margin-left: 60px;
}

.flex-container.titletextandimage {
	max-width: 768px;
	width: 100%;
}

.landing-mailto-form {
	padding: 24px;
	box-shadow: 2px 5px 6px #00000061;
	border: 0px solid;
	border-radius: 12px;
	margin: -112px 0 64px 0;
    background: white;
}

.videodisplay {
	video {
		height: 100%;
		object-fit: scale-down;
		width: 100%;
	}
}

.app-content {
	background-color: #efefef;
}

.mxp-hero {
	text-align: center;
	padding-bottom: 108px;
}

.buttonrow {
	display: flex;
	flex-direction: row;
	margin: 16px 0 16px 0;
	@media (max-width: 600px){
		flex-direction: column;
	}
}

.vertical-line {
	margin: auto 0px;
    height: 1.5em;
    width: 1px;
	background-color: lightgrey;
	@media (max-width: 600px){
		height: 1px;
		width: 1.5em;
		margin: 0px auto;
	}
}

.mt-16 {
	margin-top: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
}

.cta-container {
	display: flex;
	flex-direction: column;
	margin-top: -108px;
    align-items: center;
    background-color: #ffffffd1;
    border: 0 solid;
    border-radius: 6px 6px 0 0;
    margin: -108px 12px 0 12px;
    /* box-shadow: 5px 5px 6px #00000061; */
    z-index: 0;
	padding: 0px 16px;
	@media (max-width: 600px){
		background-color: white;
	}
}

.mxp-logo {
	position: absolute;
	z-index: 2;
	height: 72px;
	max-width: 72px;
	margin-top: 6px;
    background: white;
    border: solid 0px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
	img {
		height: 80%;
		width: 80%;
		padding: 10%;
	}
}

.mxp-header {
	display: flex;
    flex-direction: row;
    align-self: stretch;
    margin: 0 auto;
    width: 768px;
	justify-content: center;
	.MuiButton-root {
		flex: 1;
		z-index: 1;
	}
	.center-space {
		width: 90px;
	}
}

.my-little-helper-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
	border: 0px solid;
	border-radius: 12px;
	padding: 24px;
	box-shadow: 2px 5px 6px #00000061;
}

.my-little-video-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
	border: 0px solid;
	border-radius: 12px;
	padding: 0;
	overflow: hidden;
	width: fit-content;
	height: fit-content;
	box-shadow: 2px 5px 6px #00000061;
	video {
		background: white;
	}
}

.three-line-height {
	height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}