
.editorpreview {

  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 100%;

  position: absolute;
  right: 0.5em;
  top: 0;
  bottom: 0;

  &.active {
    transition-timing-function: ease-in;
    transition: 0.3s;

    .app-preview {
      transition-timing-function: ease-in;
      transition: 0.3s;
      visibility: visible;
    }

  /*  .preview-hidden-btn {
      transition-timing-function: ease-out;
      transition: 0.2s;
      opacity: 0;
    }*/
  }

  &.inactive {
    transition-timing-function: ease-out;
    transition: 0.2s;
    transform: translateY(100%);
    overflow: visible;

    .app-preview {
      transition-timing-function: ease-out;
      transition: 0.2s;
      visibility: hidden;
      opacity: 0;
    }

 /*   .preview-hidden-btn {
      transition-timing-function: ease-in;
      transition-delay: 0.2s;
      transition: 0.3s;
      opacity: 1;
      transform: translateY(-4.5em);
    }*/
  }
}