<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon" type="image/png" href="static/favicon.png">
  <meta charset="UTF-8">
  <title>MetaExplorer</title>
  <link rel="stylesheet" href="/<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <meta charset="utf-8">
  <meta name="description" property="og:description"
    content="Create your App piece by piece, and use the good stuff again easily">
  <meta name="author" content="shnyder.com">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
  <meta name="apple-mobile-web-app-title" content="MetaExplorer">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telephone=no">
  <meta name="HandheldFriendly" content="True">
  <meta http-equiv="cleartype" content="on">
  <meta property="og:image" content="https://metaexplorer.io/static/previewimg.png" />
  <meta property="og:url" content="https://metaexplorer.io" />
  <meta property="og:type" content="website" />
  <meta http-equiv="Content-Security-Policy"
    content="worker-src 'self' blob:; script-src 'self' https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval';">
  <link href="<%= htmlWebpackPlugin.options.materialIconsPath %>" rel="stylesheet" media="none"
    onload="this.media='all';">
  <link href="<%= htmlWebpackPlugin.options.robotoPath %>" rel="stylesheet" media="none" onload="this.media='all';">
</head>

<body>
  <div id="app"></div>
  <script src="/lib/react.js"></script>
  <script src="/lib/react-dom.js"></script>
  <script src="/lib/quagga.js"></script>
  <script src="/lib/keycloak-js@6.0.0.js"></script>
  <script src="/<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>