.userinfo {
	&-container {
		display: flex;
		height: 63px;
		flex-direction: row;
    align-items: center;
	}
	color: white;
	font-family: Roboto, Arial;
	
	&-textcontainer {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 0 15px 0 15px;
	}
	
	&-label {
		font-weight: bold;
	}

	&-project {
		font-weight: normal;
		font-size: small;
	}
	
	&-userimagecontainer {
		height: 42px;
		width: 42px;
		border: 0px solid;
		border-radius: 50%;
		margin: 6px;
    overflow: hidden;
	}

	&-userimage {
		height: 42px;
		width: 42px;
		background-color: #86c5f2;
	}
}